.console-viewport {
    height: 200px;
    width: 100%;
    border: 5px solid black;
    margin-top: 2rem !important;
    font-family:Courier New;
    border-radius: 5px;
  }

.nobull {
  list-style-type: none;
  margin-bottom: 25px;
}