<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Pissbot V2.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav nav-fill w-100">
          <li class="nav-item">Distiller outflow temp: {{ currentTemps[0] | number:'2.2-2'}} °C</li>
          <li class="nav-item">Radiator outflow temp: {{ currentTemps[1] | number:'2.2-2'}} °C</li>
          <li class="nav-item">Setpoint: {{ setpoint | number:'2.2-2'}} °C</li>
          <li class="nav-item">Run time: {{ measuredTime }} </li>
        </ul>
    </div>
</nav>

<div class="jumbotron top-border bg-grey">
  <div class="paddingDiv container-fluid">
      <div class="row">
          <div class="col-md-10 mycontent-left">
              <div class="">
                  <canvas
                    *ngIf="activeChart == 0"
                    baseChart
                    [chartType]="'line'"
                    [datasets]="dataSeriesMainChart"
                    [labels]="chartLabels"
                    [options]="mainChartConfig"
                    [legend]="true">
                </canvas>
                <canvas
                    *ngIf="activeChart == 1"
                    baseChart
                    [chartType]="'line'"
                    [datasets]="dataSeriesSecondary"
                    [labels]="chartLabels"
                    [options]="auxiliaryChartConfig"
                    [legend]="true">
                </canvas>
                <canvas
                    *ngIf="activeChart == 2"
                    baseChart
                    [chartType]="'line'"
                    [datasets]="dataSeriesConcentration"
                    [labels]="chartLabels"
                    [options]="alcoholChartConfig"
                    [legend]="true">
                </canvas>
              </div>
          </div>

          <div class="col-md-2 sidebar navbar-dark">
            <div class="container-fluid">
              <h2> Controller Settings</h2>
              <div class="row">
                <div class="col-sm-6"> <h6> P gain: </h6> </div>
                <div class="col-sm-5"> <h6> {{ P_gain | number}} </h6> </div>
              </div>
              <div class="row">
                <div class="col-sm-6"> <h6> I gain: </h6> </div>
                <div class="col-sm-5"> <h6> {{ I_gain | number}} </h6> </div>
              </div>
              <div class="row">
                <div class="col-sm-6"> <h6> D gain: </h6> </div>
                <div class="col-sm-5"> <h6> {{ D_gain | number}} </h6> </div>
              </div>
              <div class="row">
                <div class="col-sm-6"> <h6> Setpoint: </h6> </div>
                <div class="col-sm-5"> <h6> {{ setpoint | number:'.0-0'}} °C </h6> </div>
              </div>
              <app-tune-controller (messageEvent)="receiveControllerParams($event)"></app-tune-controller>
            </div>

            <div class="container-fluid">
              <h2> System Info </h2>
              <div class="row">
                <div class="col-sm-6"> <h6> ΔT: </h6> </div>
                <div class="col-sm-5"> <h6> {{ deltaT | number:'2.2-2'}} °C </h6> </div>
              </div>
              <div class="row">
                <div class="col-sm-6"> <h6> Flow rate: </h6> </div>
                <div class="col-sm-5"> <h6> {{ flowRate | number:'1.2-2'}} L/min </h6> </div>
              </div>
              <div class="row">
                <div class="col-sm-6"> <h6> Setpoint: </h6> </div>
                <div class="col-sm-5"> <h6> {{ setpoint | number:'2.2-2'}} °C </h6> </div>
              </div>
              <div class="row">
                <div class="col-sm-6"> <h6> Heat flow rate: </h6> </div>
                <div class="col-sm-5"> <h6> {{ Qdot | number:'1.2-2' }} kW </h6> </div>
              </div>
              <div class="row">
                <div class="col-sm-6"> <h6> Vapour: </h6> </div>
                <div class="col-sm-5"> <h6> {{ vapConc | number:'1.2-2' }} % </h6> </div>
              </div>
              <div class="row">
                <div class="col-sm-6"> <h6> Boiler: </h6> </div>
                <div class="col-sm-5"> <h6> {{ liquidConc | number:'1.2-2' }} % </h6> </div>
              </div>
            </div>

            <div class="container-fluid">
                <h2> Commands </h2>
                <div class="row">
                  <div class="col-sm-8">
                    <h6>Fan</h6>
                  </div>
                  <div class="col-sm-2">
                    <button *ngIf="!fanState" (click)="fanControl(1)" type="button" class="btn btn-danger btn-sm"> Off</button>
                    <button *ngIf="fanState" (click)="fanControl(0)" type="button" class="btn btn-success btn-sm"> On </button>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-8">
                    <h6>Swap temp sensors</h6>
                  </div>
                  <div class="col-sm-2">
                    <button (click)="swapTempSensors()" type="button" class="btn btn-success btn-sm"> Swap </button>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-8">
                      <h6> Refresh screen </h6>
                    </div>
                    <div class="col-sm-2">
                        <button (click)="refreshScreen()" type="button" class="btn btn-success btn-sm"> Refresh </button>
                    </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-8">
                    <h6> Flush system </h6>
                  </div>
                  <div class="col-sm-2">
                    <button *ngIf="!flush" (click)="flushSystem(1)" type="button" class="btn btn-danger btn-sm"> Off </button>
                    <button *ngIf="flush" (click)="flushSystem(0)" type="button" class="btn btn-success btn-sm"> On </button>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-8">
                    <h6> Filter </h6>
                  </div>
                  <div class="col-sm-2">
                    <button *ngIf="!filter" (click)="filterTempSensors(1)" type="button" class="btn btn-danger btn-sm"> Off </button>
                    <button *ngIf="filter" (click)="filterTempSensors(0)" type="button" class="btn btn-success btn-sm"> On </button>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-8">
                      <h6> Switch charts </h6>
                  </div>
                  <div class="col-sm-2">
                        <button *ngIf="activeChart == 0" (click)="swapCharts()" type="button" class="btn btn-success btn-sm"> Main Chart </button>
                        <button *ngIf="activeChart == 1" (click)="swapCharts()" type="button" class="btn btn-success btn-sm"> Auxiliary Chart </button>
                        <button *ngIf="activeChart == 2" (click)="swapCharts()" type="button" class="btn btn-success btn-sm"> Alcohol Chart </button>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-8">
                    <h6> Element </h6>
                  </div>
                  <div class="col-sm-2">
                    <button *ngIf="!element1" (click)="elementControlLowPower(1)" type="button" class="btn btn-danger btn-sm"> Off </button>
                    <button *ngIf="element1" (click)="elementControlLowPower(0)" type="button" class="btn btn-success btn-sm"> On </button>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-8">
                    <h6> Prod Condensor </h6>
                  </div>
                  <div class="col-sm-2">
                    <button *ngIf="!prodCondensor" (click)="controlProductCondensor(1)" type="button" class="btn btn-danger btn-sm"> Off </button>
                    <button *ngIf="prodCondensor" (click)="controlProductCondensor(0)" type="button" class="btn btn-success btn-sm"> On </button>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-8">
                      <h6> Update software </h6>
                  </div>
                  <div class="col-sm-2">
                        <button (click)="runOTA()" type="button" class="btn btn-success btn-sm"> Update </button>
                  </div>
                </div>
                <div class="row top-buffer">
                  <div class="col-sm-12">
                    <div class="md-form">
                      <input mdbInput type="text" name="text" [(ngModel)]="OTA_IP" id="form1" class="form-control" placeholder="Enter OTA IP">
                    </div>
                  </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>



