.paddingDiv {
  padding-top: 50px; /* Whatever the height of your navbar is; the
                           default is 50px */
}

.nav-item {
  color: white;
}

.top-buffer {
  margin-top: 10px;
}

.mycontent-left {
  border-right: 2px solid rgb(75, 72, 72);
}

.top-border {
  border-top: 2px solid #828891;
  border-bottom: 2px solid #828891;
}

.row-element {
  padding-top: 0px;
  padding-bottom: 0px;
};

.custom-button {
  max-width: 100%;
  padding-left:25px;
  padding-right:25px;
};
