<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Assign temp sensors</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> {{ selectStr }} </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let sensor of availableSensors">
              <button ngbDropdownItem on-click="selectSensor(sensor)"> {{toHexString(sensor)}} </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle> {{ taskStr }} </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let task of tasks; let i = index" [attr.data-index]="i">
              <button ngbDropdownItem on-click="selectTask(i)"> {{ task }} </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="sendAssignSensorMsg()">Select</button>
  </div>
</ng-template>
<button class="btn btn-sm btn-outline-secondary" (click)="open(content)">Assign Sensors</button>

<hr>
